:root {
  --primary: #03A9F4;
  --secondary: #07E092;
  --gray: #BCBDC0;
  --textLeft: #121212;
  --textLeftBackground: #DCDCDC;
  --textRight: #FFF;
  --textRightBackground: #03A9F4;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #edeff2;
  font-family: "Calibri", "Roboto", sans-serif;
}

.loading {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  opacity: 0.7;
  background-color: #fff;
  z-index: 99;
  text-align: center;
}

.chat_window {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: calc(100% - 20px);
  max-width: 800px;
  border-radius: 10px;
  background-color: #fff;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  background-color: #f8f8f8;
  overflow: hidden;
}

.top_menu {
  display: flex;
  background-color: #fff;
  width: 100%;
  padding: 20px 0 15px;
  box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
}

.top_menu .title {
  text-align: center;
  color: var(--gray);
  font-size: 20px;
  flex: 1;
}

.top_menu .edit_answer {
  position: absolute;
  right: 0;
  top: 16px;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: var(--primary);
  margin-right: 20px;

  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.top_menu .edit_answer i {
  font-size: 1rem;
  color: #fff;
}

.messages {
  position: relative;
  list-style: none;
  padding: 20px 10px 0 10px;
  margin: 0;
  height: 354px;
  overflow-y: scroll;
}

.messages .message {
  clear: both;
  overflow: hidden;
  margin-bottom: 20px;
  transition: all 0.5s linear;
  opacity: 0;
}

.messages .message.left .avatar {
  background-color: #f5886e;
  float: left;
}

.messages .message.left .text_wrapper {
  background-color: var(--textLeftBackground);
  margin-left: 20px;
}

.messages .message.left .text_wrapper::after,
.messages .message.left .text_wrapper::before {
  right: 100%;
  border-right-color: var(--textLeftBackground);
}

.messages .message.left .text {
  color: var(--textLeft);
}

.messages .message.right .avatar {
  background-color: #fdbf68;
  float: right;
}

.messages .message.right .text_wrapper {
  background-color: var(--textRightBackground);
  margin-right: 20px;
  float: right;
}

.messages .message.right .text_wrapper::after,
.messages .message.right .text_wrapper::before {
  left: 100%;
  border-left-color: var(--textRightBackground);
}

.messages .message.right .text {
  color: var(--textRight);
}

.messages .message.appeared {
  opacity: 1;
}

.messages .message .avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: inline-block;
}

.messages .message .text_wrapper {
  display: inline-block;
  padding: 20px 30px;
  border-radius: 8px;
  max-width: 80%;
  /* width: calc(100% - 85px); */
  /* min-width: 100px; */
  position: relative;
}

.messages .message .text_wrapper::after,
.messages .message .text_wrapper:before {
  top: 18px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.messages .message .text_wrapper::after {
  border-width: 13px;
  margin-top: 0px;
}

.messages .message .text_wrapper::before {
  border-width: 15px;
  margin-top: -2px;
}

.messages .message .text_wrapper .text {
  font-size: 18px;
  font-weight: 300;
}

.bottom_wrapper {
  position: relative;
  display: flex;
  width: 100%;
  background-color: #fff;
  padding: 20px 20px;
  bottom: 0;
}

.bottom_wrapper .message_input_wrapper {
  display: inline-block;
  height: 50px;
  border-radius: 25px;
  border: 1px solid #bcbdc0;
  width: calc(100% - 160px);
  position: relative;
  padding: 0 20px;
}

.bottom_wrapper .message_input_wrapper .message_input,
.bottom_wrapper .message_input_wrapper .train_input {
  border: none;
  height: 100%;
  box-sizing: border-box;
  width: calc(100% - 40px);
  position: absolute;
  outline-width: 0;
  color: gray;
}

.bottom_wrapper .send_message,
.bottom_wrapper .send_train,
.bottom_wrapper .cancel {
  margin-left: 1rem;
  min-width: 140px;
  height: 50px;
  display: inline-block;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s linear;
  text-align: center;
}

.bottom_wrapper .send_message {
  background-color: var(--primary);
  border: 2px solid var(--primary);
}

.bottom_wrapper .send_message:hover {
  color: var(--primary);
  background-color: #fff;
}

.bottom_wrapper .send_train {
  background-color: var(--secondary);
  border: 2px solid var(--secondary);
}

.bottom_wrapper .send_train:hover {
  color: var(--secondary);
  background-color: #fff;
}

.bottom_wrapper .cancel {
  background-color: var(--gray);
  border: 2px solid var(--gray);
}

.bottom_wrapper .cancel:hover {
  color: var(--gray);
  background-color: #fff;
}

.bottom_wrapper .send_message .text,
.bottom_wrapper .send_train .text,
.bottom_wrapper .cancel .text {
  font-size: 18px;
  font-weight: 300;
  display: inline-block;
  line-height: 48px;
}

.hello_template,
.message_template {
  display: none;
}

.hello {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hello .edit_icon {
  margin-top: 5rem;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--primary);

  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.hello .edit_icon i {
  font-size: 1.2rem;
  color: #fff;
}

.hello .hello_message {
  max-width: 24rem;
  padding: 2rem;
  color: var(--gray);
  text-align: center;
}

@media (max-width: 576px) {
  .chat_window {
    width: 100%;
    max-width: 100%;
    border-radius: 0;
  }

  .bottom_wrapper {
    flex-direction: column;
  }

  .bottom_wrapper .message_input_wrapper {
    width: 100%;
  }

  .bottom_wrapper .send_message,
  .bottom_wrapper .send_train,
  .bottom_wrapper .cancel {
    margin-left: 0;
    margin-top: .5rem;
  }
}
